<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is home page1</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">

			<div class="card-body">

				<h1 class="text-center">Employee Details</h1>
				
				<!-- search -->
				
				<div class="search-container my-4">
				
					<input onkeyup="searchUser()" id="search-input" type="text" class="form-control" placeholder="search employee" />
				
					<div class="search-result">
					
						<!-- Search Result -->
					
					</div>
				
				</div>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Email</th>
							<th scope="col">Contact</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e : ${employee}">
							<th scope="row" th:text="${'E2022-'+e.id}">1</th>
							<td>
							
								<img src="" class="my_profile_picture" th:src="@{'/image/'+${e.image}}" alt="profile photo" />
							<span th:text="${e.firstName}"></span></td>
							<td th:text="${e.lastName}"></td>
							<td >
							
							<a href="" th:href="@{'/user/'+${e.id}+'/employee'}">
							
							<span th:text="${e.email}"></span>
							
							</a>
							
							</td>
							<td th:text="${e.phone}"></td>

						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</section>
</body>
</html>